{% extends "layout.html.twig" %}

{% block content %}

    <h1>Details dataset "{{ dataset.name }}"</h1>

    <div class="row">
        <div class="col-md-6">

            <table class="table">
                <tr>
                    <th>
                        Bestandsnaam
                    </th>
                    <td>
                        <a title="Bekijk het csv-bestand" href="{{ path('file-view-csv', {'filename': dataset.filename, 'id': dataset.id}) }}">{{ dataset.filename }}</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Aangemaakt op
                    </th>
                    <td>
                        {{ dataset.created_on }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status
                    </th>
                    <td>
                        {{ dataset.status|formatDatasetStatus }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Ingestelde zoekopties
                    </th>
                    <td>
                        <uL>
                            <li><strong>Type</strong> {{ dataset.hg_type }}</li>
                            <li><strong>Standaardiseren naar</strong> {{ dataset.hg_dataset }}</li>

                            <li><strong>Met
                                    geometrie</strong> {% if dataset.geometry == 1 %} Ja {% else %} Nee {% endif %}</li>
                        </uL>
                    </td>
                </tr>
                <tr>
                    <th>
                        Resultaten
                    </th>
                    <td>
                        <table class="table table-striped">
                            <tr>
                                <td>Gestandaardiseerde records</td>
                                <td>{{ dataset.countStandardized }}</td>
                                <td><a class="btn btn-primary" href="/datasets/{{ dataset.id }}/standardized">bekijk</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Records met meerdere resutaten</td>
                                <td>{{ dataset.countMultiples }}</td>
                                <td><a class="btn btn-primary" href="/datasets/{{ dataset.id }}/multiples">bekijk</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Records zonder resultaat</td>
                                <td>{{ dataset.countNoResults }}</td>
                                <td><a class="btn btn-primary" href="/datasets/{{ dataset.id }}/noresults">bekijk</a>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>

            </table>
        </div>

        <div class="col-md-6">
            <a href="{{ path('import-mapcsv', {'id': dataset.id}) }}" title="Test de huidige mapping"
               class="btn btn-danger">Instellingen wijzigen / opnieuw standaardiseren</a>

            <h3>Download</h3>

            <p>
                Als u tevreden bent met de resultaten en eventuele handmatige correcties kunt U hier
                <strong>(opnieuw)</strong> een downloadbaar bestand genereren.
                Afhankelijk van de grootte van uw csv kan dit enige tijd in beslag nemen.
            </p>
            <a href="{{ path('dataset-create-download', {'id': dataset.id}) }}" class="btn btn-primary">Genereer een
                csv-bestand</a>
            <br/>

            {% if downloadable is not empty %}
                <a href="{{ path('dataset-download-file', {'id': dataset.id}) }}" class="btn btn-primary downloadbutton">Download
                    csv-bestand</a>
            {% endif %}

        </div>

    </div>

{% endblock %}
