{% extends "layout.html.twig" %}

{% block content %}

    <h1>Details dataset "{{ dataset.name }}"</h1>

    <div class="row">
        <div class="col-md-6">
            

            <table class="table">
                <tr>
                    <th>
                        Bestandsnaam
                    </th>
                    <td>
                        {{ dataset.filename }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Aangemaakt op
                    </th>
                    <td>
                        {{ dataset.created_on }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status
                    </th>
                    <td>
                        {{ dataset.status }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Resultaten
                    </th>
                    <td>
                        <a class="btn btn-primary" href="/datasets/{{ dataset.id }}/standardized">bekijk gestandaardiseerde record{% if dataset.countStandardized != 1 %}s ({{ dataset.countStandardized }}){% endif %} </a>

                        <a class="btn btn-primary" class="btn btn-primary" href="/datasets/{{ dataset.id }}/multiples">bekijk records met meerdere resultaten ({{ dataset.countMultiples }})</a><br />

                        <a class="btn btn-primary" href="/datasets/{{ dataset.id }}/noresults">bekijk  records zonder resultaat ({{ dataset.countNoResults }})</a>
                    </td>
                </tr>
                
                <tr>
                    <th>
                        Download
                    </th>
                    <td>
                        <a href="/datasets/{{ dataset.id }}/download">Download hier de resultaten</a>.
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            
            <a href="{{ path('import-mapcsv', {'id': dataset.id}) }}" title="Test de huidige mapping" class="btn btn-danger">Instellingen wijzigen / opnieuw standaardiseren</a>
        </div>

    </div>

{% endblock %}
