{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                <a href="/datasets/{{ dataset.id }}/standardized">Gestandaardiseerd ({{ dataset.countStandardized }})</a><a href="/datasets/{{ dataset.id }}/multiples">Meerdere resultaten ({{ dataset.countMultiples }})</a><a href="/datasets/{{ dataset.id }}/noresults">Geen resultaten ({{ dataset.countNoResults }})</a><a href="/datasets/{{ dataset.id }}/unmappables">Onachterhaalbaar({{ dataset.countUnmappables }})</a><a class="current" href="/datasets/{{ dataset.id }}/download">Download</a> 
            </div>

            <h1>Download dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</h1>

            
            <div class="row">
		        <div class="col-md-6">

		        	<p>Welke velden, indien beschikbaar, moeten worden opgenomen in het bestand?</p>
		            
		            <form>

		            	<input type="checkbox" value="tgn-uri" checked="checked" /> TGN URI <br />
		            	<input type="checkbox" value="tgn-coords" checked="checked" /> TGN coördinaten <br />
		            	<input type="checkbox" value="tgn-label" checked="checked" /> TGN label <br />
		            	<br />
						<input type="checkbox" value="geonames-uri" checked="checked" /> geonames URI <br />
		            	<input type="checkbox" value="geonames-coords" checked="checked" /> geonames coördinaten <br />
		            	<input type="checkbox" value="geonames-label" checked="checked" /> geonames label <br />
		            	<br />
		            	<input type="checkbox" value="gemeentegeschiedenis-uri" checked="checked" /> gemeentegeschiedenis URI <br />
		            	<input type="checkbox" value="gemeentegeschiedenis-coords" checked="checked" /> gemeentegeschiedenis coördinaten <br />
		            	<input type="checkbox" value="gemeentegeschiedenis-label" checked="checked" /> gemeentegeschiedenis label <br />




		            </form>
		            

		        </div>
		        <div class="col-md-6">
		            
		        	<a href="" class="btn btn-primary downloadbutton">Download csv-bestand</a>

		        </div>
		    </div>

        </div>
    </div>

{% endblock %}
