{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="{{ path('datasets-show', {'id': dataset.id }) }}">{{ dataset.name }}</a>"
            </p>

            <div id="resultnav">
                {% set cur = 'multiples' %}
                {% include 'datasets/tabnavs.twig' %}
            </div>
            <script>
                /** convert js function */
                coordsToLatLng = function (multiCoords) {
                    var out = [];
                    for (coords of
                    multiCoords
                    )
                    out.push([coords[1], coords[0]]);
                    return out;
                };

                jQuery(function () {
                    // reset a mapped record
                    $(document).on("click", ".choose", function (e) {
                        e.preventDefault();
                        var data = $(this).attr('data-klont');
                        var uri = $(this).attr('href');
                        askAPI('POST', uri, data, forwardUser);
                    });

                    function forwardUser(json) {
                        alertMessage('De plaats is gestandaardiseerd.');
                        window.location.href = '{{ path('dataset-multiples', {'id': dataset.id }) }}';
                    }

                    $(document.body).on( "click", ".unmappable", function(e) {
                        e.preventDefault();
                        var uri = $(this).attr('data-ref');
                        askAPI('GET', uri, null, backToResults);
                    });

                    function backToResults(json) {
                        alertMessage('De locatie is als niet achterhaalbaar gemarkeerd.');
                        window.location.href = '{{ path('dataset-multiples', {'id': dataset.id }) }}';
                    }
                });
            </script>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="no-pad">"{{ rec.original_name }}" kan zijn ...</h3>

                    <div class="pull-right">
                        <button type="button" class="btn-danger btn btn-sm unmappable" data-id="{{ rec.id }}" data-ref="{{ path('api-unmappable', {'id': rec.id }) }}">niet te achterhalen</button>
                    </div>
                    <p>
                        Kies het juiste resultaat uit een van de opties hieronder.
                        Als de juiste optie ontbreekt markeer de term dan als niet achterhaalbaar.
                    </p>

                    {% if possibilities|length > 0 %}
                        <ul class="possibilities">
                            {% for nr, feature in possibilities %}

                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="pull-right"
                                                  action="{{ path('record-choose-pit', {'id': dataset.id, 'recordId': app.request.get('recid')}) }}"
                                                  method="post">
                                                <input type="hidden" name="data-klont"
                                                       value="{{ feature|json_encode }}"/>
                                                <input type="submit" name="kies" value="kies"
                                                       class="btn btn-sm btn-primary"/>

                                            </form>

                                            {# only showing one pit #}
                                            {% set type = feature.properties.type|replace({'hg:': ''}) %}
                                            {% set pit = feature.properties.pits[0] %}
                                            {{ pit.name }} ({{ type|lower }})<br/>

                                            {% if pit.dataset is defined %}
                                                <strong>Dataset:</strong> {{ pit.dataset }}<br/>
                                            {% endif %}

                                            {% if pit.uri is defined %}
                                                <strong>Uri:</strong> <a href="{{ pit.uri }}">{{ pit.uri }}</a><br/>
                                            {% endif %}

                                            {% if pit.id is defined %}
                                                <strong>Dataset id:</strong> {{ pit.id }}<br/>
                                            {% endif %}

                                                {% if(attribute(pit, 'relations') is defined) %}
                                                    {% set relations = pit.relations %}
                                                    {% if(attribute(relations, 'hg:liesIn') is defined) %}
                                                        {% set liesIns = attribute(pit.relations, 'hg:liesIn') %}
                                                        {% for liesIn in liesIns %}
                                                            {% set containerId = attribute(liesIn, '@id') %}
                                                            {% for hair in pit.hairs %}
                                                                {% if attribute(hair, '@id') == containerId and hair.name is defined %}
                                                                    ligt in: {{ hair.name }}&nbsp; 
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}   
                                                    {#{{ dump(attribute(pit, 'relations') ) }}#}
                                                    {#{{ dump(attribute(pit.relations, 'hg:liesIn')) }}#}
                                                {% endif %}

                                        </div>
                                        <div class="col-md-6">
                                            {% if feature.geometry is not empty and pit.geometryIndex >= 0 %}
                                                <div id="map{{ nr }}" class="mapcanvas"></div>
                                                <script>
                                                    var map{{ nr }} = L.map('map{{ nr }}', {
                                                        center: [52.16, 4.49],
                                                        zoom: 9
                                                    });

                                                    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                                                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
                                                    }).addTo(map{{ nr }});

                                                    var group{{ nr }} = new L.featureGroup();

                                                    var geojsonMarkerOptions{{ nr }} = {
                                                        radius: 8,
                                                        fillColor: "#ff7800",
                                                        color: "#000",
                                                        weight: 1,
                                                        opacity: 1,
                                                        fillOpacity: 0.8
                                                    };

                                                    var placesLayer{{ nr }} = L.geoJson(geojsonFeature{{ nr }}, {
                                                        pointToLayer: function (feature, latlng) {
                                                            return L.circleMarker(latlng, geojsonMarkerOptions{{ nr }});
                                                        }
                                                    }).addTo(map{{ nr }});

                                                    var geojsonFeature{{ nr }} = {
                                                        "type": "Feature",
                                                        "properties": {
                                                            "name": "{{ pit.name }}",
                                                            "popupContent": "pop"
                                                        },
                                                        "geometry": {{ feature.geometry.geometries[pit.geometryIndex]|json_encode|raw }}
                                                    };
                                                    var geom{{ nr }} = placesLayer{{ nr }}.addData(geojsonFeature{{ nr }});

                                                    geom{{ nr }}.bindPopup('' +
                                                            '<p class="no-pad"><strong>{{ pit.name }}</strong> ({{ type|lower }})</p>'
                                                            //'<button href="/api/record/choose-pit/{{ app.request.get('recid') }}" class="btn btn-sm btn-primary choose" data-klont="{{ feature|json_encode }}">kies</button>'
                                                    );
                                                    group{{ nr }}.addLayer(geom{{ nr }});
                                                    map{{ nr }}.fitBounds(group{{ nr }});
                                                    {% if type == 'Street' or type == 'Address' or type == 'Building' %}
                                                    map{{ nr }}.setZoom(15);
                                                    {% else %}
                                                    map{{ nr }}.setZoom(9);
                                                    {% endif %}
                                                </script>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {# <li>
                                <button type="button" class="btn-danger btn unmappable" data-id="{{ app.request.get('recid') }}" data-ref="{{ path('api-unmappable', {'id': app.request.get('recid') }) }}">niet te achterhalen</button>
                            </li> #}
                        </ul>
                    {% else %}
                        <p>Er zijn geen concepten gevonden.</p>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>

{% endblock %}
