{% extends "layout.html.twig" %}

{% block content %}
    <script type="text/javascript">

        // mark an item as unmappable
        $(document.body).on( "click", "button.unmappable", function(e) {
            e.preventDefault();
            var uri = $(this).attr('data-ref');
            askAPI('GET', uri, null, deleteRows);
        });

        function deleteRows(json) {
            var tot = json.length;
            $.each(json, function(key, item) {
                var tr = '#row_'+item.id;
                $(tr).remove();
            });

            var more = jQuery('#nr-more').html();
            more = Number(more) - tot;
            var unmappables = jQuery('#nr-unmappables').html();
            unmappables = Number(unmappables) + tot;
            setNumbers(null,more, null,unmappables);
            alertMessage('De naam is als niet achterhaalbaar gemarkeerd.');
        }

    </script>

    <div class="row">
        <div class="col-md-12">
            <h2>Resultaat</h2>
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                {% set cur = 'multiples' %}
                {% include 'datasets/tabnavs.twig' %}
            </div>

            <p>Hieronder de plaatsnamen waarvoor meerdere mogelijkheden gevonden zijn. Klik op bewerk om de opties te bekijken en aan te passen.</p>

            {% if multiples is not empty %}
                <table class="table table-condensed" id="pdxtable">
                    <thead>
                    <tr>
                        <th>plaatsnaam</th>
                        {% if dataset.liesin_column is not empty %}
                            <th>ligt in</th>
                        {% endif %}
                        <th>aantal hits</th>
                        <th>bewerk</th>
                        <th>...niet te achterhalen?</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>plaatsnaam</th>
                        {% if dataset.liesin_column is not empty %}
                            <th>ligt in</th>
                        {% endif %}
                        <th>aantal hits</th>
                        <th>bewerk</th>
                        <th>...niet te achterhalen?</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for rec in multiples %}
                        <tr id="row_{{ rec.id }}">
                            <td>{{ rec.original_name }}</td>
                            {% if dataset.liesin_column is not empty %}
                                <td>{{ rec.liesin_name }}</td>
                            {% endif %}
                            <td>{{ rec.hits }}</td>
                            <td><a class="btn btn-primary btn-sm" href="/datasets/{{ dataset.id }}/multiples/{{ rec.id }}">bewerk</a></td>
                            <td><button type="button" class="btn-danger btn btn-sm unmappable" data-id="{{ rec.id }}" data-ref="{{ path('api-unmappable', {'id': rec.id }) }}">niet te achterhalen</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
