{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="{{ path('datasets-show', {'id': dataset.id }) }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                {% set cur = 'multiples' %}
                {% include 'datasets/tabnavs.twig' %}
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3 class="no-pad">"{{ rec.original_name }}" kan zijn ...</h3>
                    <p>Kies het juiste resultaat hieronder of via het juiste icoon op de kaart.</p>

                    {% if possibilities.data is not defined %}
                    <p>Er zijn wel concepten gevonden maar dit zijn geen plaatsen of gemeentes... op dit moment worden die nog niet getoond.</p>
                    {% else %}
                    <ul class="possibilities">
                        {% for opt in possibilities.data %}
                            <li>
                                <button href="/api/record/choose-pit/{{ app.request.get('recid') }}" class="btn btn-sm btn-primary choose" data-klont="{{ opt|json_encode }}">kies</button>
                                {% for src,pit in opt %}
                                    {% set type = pit.type|replace({'hg:': ''}) %}
                                    {{ pit.name }} ({{ type|lower }}, {{ src }})</br>
                                {% endfor %}
                                
                            </li>
                        {% endfor %}
                        {# <li>
                            <button type="button" class="btn-danger btn unmappable" data-id="{{ app.request.get('recid') }}" data-ref="{{ path('api-unmappable', {'id': app.request.get('recid') }) }}">niet te achterhalen</button>
                        </li> #}
                    </ul>
                    {% endif %}

                </div>

                <div class="col-md-8">

                    <div id="mapcanvas">

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>
        /** OpenStreetMap config */
        var southWest = L.latLng(51.175, 3.001), northEast = L.latLng(53.549, 7.483), bounds = L.latLngBounds(southWest, northEast);
        var map = L.map('mapcanvas').fitBounds(bounds);

        coordsToLatLng = function (multiCoords) {
            var out = [];
            for (coords of multiCoords)
                out.push([coords[1], coords[0]]);
            return out;
        };

        L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var mapIcon = L.icon({
            iconUrl: '/images/map-marker-128x128.png',
            iconSize:     [32, 32], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -26] // point from which the popup should open relative to the iconAnchor
        });

        var pits = new Array();

        {% if possibilities.data is defined %}
        {% for opt in possibilities.data %}
            {% for src,pit in opt %}
                {% if pit.geometry is not empty and pit.geometry.type == 'Point' %}
                    {% set type = pit.type|replace({'hg:': ''}) %}
                    var marker = L.marker([{{ pit.geometry.coordinates[1] }}, {{ pit.geometry.coordinates[0] }}], {icon: mapIcon}).addTo(map)
                        .bindPopup('' +
                        '<p class="no-pad"><strong>{{ pit.name }}</strong> ({{ type|lower }}, {{ src }})</p>' +
                        '<button href="/api/record/choose-pit/{{ app.request.get('recid') }}" class="btn btn-sm btn-primary choose" data-klont="{{ opt|json_encode }}">kies</button>'
                    );
                    pits.push(marker);

                {% elseif pit.geometry is not empty and pit.geometry.type == 'Polygon' %}
                    {% set type = pit.type|replace({'hg:': ''}) %}
                    // van de polygon moeten we de lat,lon omdraaien
                    var marker = L.polygon(coordsToLatLng({{ pit.geometry.coordinates[0]|json_encode }})).addTo(map)
                        .bindPopup('' +
                            '<p class="no-pad"><strong>{{ pit.name }}</strong> ({{ type|lower }}, {{ src }})</p>' +
                            '<button href="/api/record/choose-pit/{{ app.request.get('recid') }}" class="btn btn-sm btn-primary choose" data-klont="{{ opt|json_encode }}">kies</button>'
                    );
                    pits.push(marker);

                {% endif %}
            {% endfor %}
        {% endfor %}

        var group = new L.featureGroup(pits);
        map.fitBounds(group);

        jQuery(function () {
            // reset a mapped record
            $(document).on( "click", ".choose", function(e) {
                e.preventDefault();
                var data = $(this).attr('data-klont');
                var uri = $(this).attr('href');
                askAPI('POST', uri, data, forwardUser);
            });

            function forwardUser(json) {
                alertMessage('De plaats is gestandaardiseerd.');
                window.location.href = '{{ path('dataset-multiples', {'id': dataset.id }) }}';
            }
        });

        {% endif %}
    </script>

{% endblock %}
