{% extends "layout.html.twig" %}

{% block content %}

	<script type="text/javascript">

		function setUri(recid){
			uri = jQuery('#uri-with-' + recid).val();
			data = {"uri": uri };
			askAPI('GET', '/api/record/map/'+recid, data, deleteRow);
		}


		function deleteRow(json) {
			var tr = '#row_'+json.id;
			$(tr).remove();

            var one = jQuery('#nr-one').html();
            console.log(one);
            one = Number(one) + 1;
            var none = jQuery('#nr-none').html();
            none = Number(none) - 1;

            setNumbers(one,null,none);
		}

	</script>
    

    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                <a href="/datasets/{{ dataset.id }}/standardized">Gestandaardiseerd (<span id="nr-one">{{ dataset.countStandardized }}</span>)</a><a href="/datasets/{{ dataset.id }}/multiples">Meerdere resultaten (<span id="nr-more">{{ dataset.countMultiples }}</span>)</a><a class="current" href="/datasets/{{ dataset.id }}/noresults">Geen resultaten (<span id="nr-none">{{ dataset.countNoResults }}</span>)</a><a href="/datasets/{{ dataset.id }}/download">Download</a> 
            </div>
            
            <p>Hieronder de plaatsnamen waar geen enkel resultaat voor gevonden is. Eventueel kunt u handmatig een TGN, gemeentegeschiedenis of Geonames URI invoeren.</p>

            <table class="table">
            	<tr>
            		<th>plaatsnaam</th>
            		<th>en de juiste uri is...</th>
            		<th>go!</th>
            	</tr>
            	{% for rec in noresults %}
            	<tr id="row_{{ rec.id }}">
            		<td>{{ rec.original_name }}</td>
            		<td><input class="form-control" type="text" id="uri-with-{{ rec.id }}" value=""/></td>
            		<td><button class="btn btn-primary" onclick="setUri({{ rec.id }})">sla op</button></td>
            	</tr>
            	{% endfor %}
            </table>

        </div>
    </div>

{% endblock %}
