{% extends "layout.html.twig" %}

{% block content %}

	<script type="text/javascript">

		function setUri(recid){
			uri = jQuery('#uri-with-' + recid).val();
			data = {"uri": uri };
			askAPI('GET', '/api/record/map/'+recid, data, deleteRow);
		}


		function deleteRow(json) {
			var tr = '#row_'+json.id;
			$(tr).remove();

            var one = jQuery('#nr-one').html();
            one = Number(one) + 1;
            var none = jQuery('#nr-none').html();
            none = Number(none) - 1;

            setNumbers(one,null,none,null);
		}

		function deleteUnmappedRow(json) {
			var tr = '#row_'+json.id;
			$(tr).remove();

			var none = jQuery('#nr-none').html();
            none = Number(none) - 1;
            var unmappables = jQuery('#nr-unmappables').html();
            unmappables = Number(unmappables) + 1;

			setNumbers(null, null,none,unmappables);
		}

	</script>
    

    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                <a href="/datasets/{{ dataset.id }}/standardized">Gestandaardiseerd (<span id="nr-one">{{ dataset.countStandardized }}</span>)</a><a href="/datasets/{{ dataset.id }}/multiples">Meerdere resultaten (<span id="nr-more">{{ dataset.countMultiples }}</span>)</a><a class="current" href="/datasets/{{ dataset.id }}/noresults">Geen resultaten (<span id="nr-none">{{ dataset.countNoResults }}</span>)</a><a href="/datasets/{{ dataset.id }}/unmappables">Onachterhaalbaar(<span id="nr-unmappables">{{ dataset.countUnmappables }}</span>)</a><a href="/datasets/{{ dataset.id }}/download">Download</a> 
            </div>
            
            <p>Hieronder de plaatsnamen waar geen enkel resultaat voor gevonden is. U kunt hier handmatig een <a href="http://vocab.getty.edu/" target="_blank">TGN</a>, <a href="http://www.gemeentegeschiedenis.nl/" target="_blank">Gemeentegeschiedenis</a> of <a href="http://www.geonames.org/">Geonames</a> URI invoeren.</p>

            <table class="table">
            	<tr>
            		<th>plaatsnaam</th>
                    <th>en de juiste uri is...</th>
                    <th></th>
                    <th>...niet te achterhalen?</th>
            	</tr>
            	{% for rec in noresults %}
            	<tr id="row_{{ rec.id }}">
            		<td>{{ rec.original_name }}</td>
            		<td><input class="form-control" type="text" id="uri-with-{{ rec.id }}" value=""/></td>
            		<td><button class="btn btn-primary" onclick="setUri({{ rec.id }})">sla op</button></td>
                    <td><a class="btn btn-danger unmappable" data-id="{{ rec.id }}" data-ref="{{ path('api-unmappable', {'id': rec.id }) }}">niet te achterhalen</a></td>
            	</tr>
            	{% endfor %}
            </table>

        </div>
    </div>

	<script>

		jQuery(function () {
			// reset a mapped record
			$(".table").on( "click", "a.unmappable", function(e) {
				e.preventDefault();
				var uri = $(this).attr('data-ref');
				askAPI('GET', uri, null, deleteUnmappedRow);
			});

		});

	</script>
{% endblock %}
