{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                <a class="current" href="/datasets/{{ dataset.id }}/standardized">Gestandaardiseerd ({{ dataset.countStandardized }})</a><a href="/datasets/{{ dataset.id }}/multiples">Meerdere resultaten ({{ dataset.countMultiples }})</a><a href="/datasets/{{ dataset.id }}/noresults">Geen resultaten ({{ dataset.countNoResults }})</a><a href="/datasets/{{ dataset.id }}/download">Download</a> 
            </div>
            

            <p>Hieronder een tabel met alle gestandaardiseerde plaatsnamen. Onder de respectievelijke Thesauri wordt het door die thesaurus toegekende label aan die plaats gegeven (met een link naar de uri in kwestie). Er moet dus eerst nog chocola gemaakt van de json die in zo'n thesaurusveld zit.</p>

            <p>Onder 'verwijder' komt een knop die de standaardisatie verwijdert en het record een status van MAPPED_EXACT_NOT_FOUND geeft. En oja, paginering...</p>

            <table class="table actions">
            	<tr>
            		<th>plaatsnaam</th>
            		<th>Geonames</th>
            		<th>TGN</th>
            		<th>Gemeentegeschiedenis</th>
            		<th>Koppeling juist?</th>
            	</tr>
            	{% for rec in standardized %}
            	<tr id="row_{{ rec.id }}">
            		<td>{{ rec.original_name }}</td>
            		<td>{% if rec.geonames is not empty %}<a href="{{ rec.geonames.uri }}" target="_blank">{{ rec.geonames.name }}</a>{% endif %}</td>
            		<td>{% if rec.tgn is not empty %}<a href="{{ rec.tgn.uri }}" target="_blank">{{ rec.tgn.name }}</a>{% endif %}</td>
            		<td>{% if rec.gg is not empty %}<a href="{{ rec.gg.uri }}" target="_blank">{{ rec.gg.name }}</a>{% endif %}</td>
					<td><a class="btn btn-danger clear-mapping" data-id="{{ rec.id }}" data-ref="{{ path('api-clear-mapping', {'id': rec.id }) }}">niet juist</a></td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>


	<script>

		jQuery(function () {
			// reset a mapped record
			$(".actions").on( "click", "a.clear-mapping", function(e) {
				e.preventDefault();
				var uri = $(this).attr('data-ref');
				askAPI('GET', uri, null, deleteRow);
			});

		});

		function deleteRow(json) {
			var tr = '#row_'+json.id;
			$(tr).remove();
		}

	</script>
{% endblock %}
