{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="{{ path('datasets-show', {'id': dataset.id }) }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                {% set cur = 'standardized' %}
                {% include 'datasets/tabnavs.twig' %}
            </div>

            <p></p>

            {% if standardized is not empty %}
                <table class="table table-condensed actions" id="pdxtable">
                    <thead>
                        <tr>
                            <th>Oorspronkelijke naam</th>
                            <th>Gestandaardiseerde naam</th>
                            <th>Type </th>
                            <th>Gevonden uri</th>
                            <th>Koppeling juist?</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Oorspronkelijke naam</th>
                            <th>Gestandaardiseerde naam</th>
                            <th>Type </th>
                            <th>Gevonden uri</th>
                            <th>Koppeling juist?</th>
                        </tr>
                    </tfoot>

                    <tbody>
                    {% for rec in standardized %}
                        <tr id="row_{{ rec.id }}">
                            <td>{{ rec.original_name }}</td>
                            <td>{% if rec.hg_name is not empty %} {{ rec.hg_name }} {% endif %}</td>
                            <td>{% if rec.hg_type is not empty %} {{ rec.hg_type }} {% endif %}</td>
                            {#{{  todo: petra linkje maken naar hg-concept via thesuarus, bij voorkeur via hgid, maar als dat er niet is, via de uri }}#}
                            <td>{% if rec.hg_uri is not empty %}<a href="#" target="_blank">{{ rec.hg_uri }}</a>{% endif %}</td>
                            <td><a class="btn btn-danger btn-sm clear-mapping" data-id="{{ rec.id }}" data-ref="{{ path('api-clear-mapping', {'id': rec.id }) }}">niet juist</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">

        jQuery(function () {
            // reset a mapped record
            $(".actions").on( "click", "a.clear-mapping", function(e) {
                e.preventDefault();
                var uri = $(this).attr('data-ref');
                askAPI('GET', uri, null, deleteRow);
            });

        });

        function deleteRow(json) {
            var tr = '#row_'+json.id;
            $(tr).remove();

            var one = jQuery('#nr-one').html();
            one = Number(one) - 1;
            var none = jQuery('#nr-none').html();
            none = Number(none) + 1;

            alertMessage('De naam is verwijderd.');
            setNumbers(one,null,none);
        }

    </script>
{% endblock %}
