{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="{{ path('datasets-show', {'id': dataset.id }) }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                <a class="current" href="/datasets/{{ dataset.id }}/standardized">Gestandaardiseerd (<span id="nr-one">{{ dataset.countStandardized }}</span>)</a><a href="/datasets/{{ dataset.id }}/multiples">Meerdere resultaten (<span id="nr-more">{{ dataset.countMultiples }}</span>)</a><a href="/datasets/{{ dataset.id }}/noresults">Geen resultaten (<span id="nr-none">{{ dataset.countNoResults }}</span>)</a><a href="/datasets/{{ dataset.id }}/unmappables">Onachterhaalbaar({{ dataset.countUnmappables }})</a><a href="/datasets/{{ dataset.id }}/download">Download</a>
            </div>
            

            <p></p>

            <table class="table actions">
            	<tr>
            		<th>plaatsnaam</th>
            		<th>Geonames</th>
            		<th>TGN</th>
            		<th>Gemeentegeschiedenis</th>
            		<th>Koppeling juist?</th>
            	</tr>
            	{% for rec in standardized %}
            	<tr id="row_{{ rec.id }}">
            		<td>{{ rec.original_name }}</td>
            		<td>{% if rec.geonames is not empty %}<a href="{{ rec.geonames.uri }}" target="_blank">{{ rec.geonames.name }}</a>{% endif %}</td>
            		<td>{% if rec.tgn is not empty %}<a href="{{ rec.tgn.uri }}" target="_blank">{{ rec.tgn.name }}</a>{% endif %}</td>
            		<td>{% if rec.gg is not empty %}<a href="{{ rec.gg.uri }}" target="_blank">{{ rec.gg.name }}</a>{% endif %}</td>
					<td><a class="btn btn-danger clear-mapping" data-id="{{ rec.id }}" data-ref="{{ path('api-clear-mapping', {'id': rec.id }) }}">niet juist</a></td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>


	<script>

		jQuery(function () {
			// reset a mapped record
			$(".actions").on( "click", "a.clear-mapping", function(e) {
				e.preventDefault();
				var uri = $(this).attr('data-ref');
				askAPI('GET', uri, null, deleteRow);
			});

		});

		function deleteRow(json) {
			var tr = '#row_'+json.id;
			$(tr).remove();

            var one = jQuery('#nr-one').html();
            console.log(one);
            one = Number(one) - 1;
            var none = jQuery('#nr-none').html();
            none = Number(none) + 1;

            setNumbers(one,null,none);
		}

	</script>
{% endblock %}
