{% extends "layout.html.twig" %}

{% block content %}

    <script type="text/javascript">

        function setUri(recid){
            uri = jQuery('#uri-with-' + recid).val();
            data = {"uri": uri };
            askAPI('GET', '/api/record/map/'+recid, data, deleteRows);
        }

        function deleteRows(json) {
            var tot = json.length;
            $.each(json, function(key, item) {
                var tr = '#row_'+item.id;
                $(tr).remove();
            });

            var one = jQuery('#nr-one').html();
            one = Number(one) + tot;
            var unmappables = jQuery('#nr-unmappables').html();
            unmappables = Number(unmappables) - tot;
            setNumbers(one,null,null,unmappables);
        }

    </script>

    <div class="row">
        <div class="col-md-12">
            <h2>Resultaat</h2>
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                {% set cur = 'unmappables' %}
                {% include 'datasets/tabnavs.twig' %}
            </div>

            <p></p>

            {% if unmappables is not empty %}
                <table class="table table-condensed" id="pdxtable">
                    <thead>
                    <tr>
                        <th>plaatsnaam</th>
                        <th>toch nog de juiste URI gevonden?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>plaatsnaam</th>
                        <th>toch nog de juiste URI gevonden?</th>
                        <th></th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for rec in unmappables %}
                        <tr id="row_{{ rec.id }}">
                            <td>{{ rec.original_name }}</td>
                            <td>
                                <input class="form-control wide" type="text" id="uri-with-{{ rec.id }}" value="" placeholder="http://sws.geonames.org/1234"/>
                            </td>
                            <td><button class="btn btn-primary btn-sm" onclick="setUri({{ rec.id }})">sla op</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>

{% endblock %}
