{% extends "layout.html.twig" %}

{% block content %}

    <script type="text/javascript">

        function setUri(recid){
            uri = jQuery('#uri-with-' + recid).val();
            data = {"uri": uri };
            askAPI('GET', '/api/record/map/'+recid, data, deleteRow);
        }


        function deleteRow(json) {
            var tr = '#row_'+json.id;
            $(tr).remove();

            var one = jQuery('#nr-one').html();
            one = Number(one) + 1;
            var unmappables = jQuery('#nr-unmappables').html();
            unmappables = Number(unmappables) - 1;
            setNumbers(one,null,null,unmappables);
        }

    </script>

    <div class="row">
        <div class="col-md-12">
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            <div id="resultnav">
                {% include 'datasets/tabnavs.twig' %}
            </div>
            
            <p></p>

            {% if unmappables is not empty %}
            <table class="table table-condensed">
                <tr>
                    <th>plaatsnaam</th>
                    <th>toch nog de juiste URI gevonden?</th>
                    <th></th>
                </tr>
                {% for rec in unmappables %}
                <tr id="row_{{ rec.id }}">
                    <td>{{ rec.original_name }}</td>
                    <td><input class="form-control" type="text" id="uri-with-{{ rec.id }}" value=""/></td>
                    <td><button class="btn btn-primary btn-sm" onclick="setUri({{ rec.id }})">sla op</button></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

        </div>
    </div>

{% endblock %}
