{% extends layout_template  %}

{% block title %}Registreren{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hallo, {{ app.user.displayName }}. Je bent al geregistreerd en aangemeld.</p>
        <p><a href="{{ path('user.logout') }}">Afmelden</a></p>

    {% else %}
        <h1>
            Maak een account
        </h1>

        <p class="text-muted lead">
            Heb je al een account? <a href="{{ path('user.login') }}">Meld je nu aan.</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Naam</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" type="text" id="input-name" placeholder="Naam" value="{{ name }}">
                    <span class="help-inline">Publiek zichtbaar</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
                    <span class="help-inline">Wordt nooit gedeeld</span>
                </div>
            </div>

            {% if isUsernameRequired %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-username">Gebruikersnaam</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="username" type="text" id="input-username" placeholder="Gebruikersnaam" required value="{{ username }}">
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-password">Wachtwoord</label>
                <div class="col-sm-8">
                    <input class="form-control" name="password" type="password" id="input-password" required placeholder="Wachtwoord">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-confirm-password">Type wachtwoord nogmaals</label>
                <div class="col-sm-8">
                    <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Bevestig wachtwoord">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Registreren</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}
