{% extends "layout.html.twig" %}

{% block content %}

    <h1>Standaardiseer dataset "{{ dataset.name }}"</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Van...</h2>

            <p>Geef hieronder aan welke kolommen van het csv-bestand gebruikt moeten worden voor de het
                standaardiseren.</p>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form) }}

            {{ form_row(form.placename) }}
            <p class="alert-danger">uitlegregeltje dat je hier de te standaardiseren term moet uitkiezen</p>

            {{ form_row(form.liesin) }}
            <p class="alert-danger">uitlegregeltje dat je hier alleen iets hoeft in te vullen als je een tweede kolom hebt ....</p>


            {{ form_row(form.hg_type) }}
            <p class="alert-danger">uitleg:.... Bijvoorbeeld van welke combinaties mogelijk zijn en dat sommig ecombinatie natuurlijk
                niets gaan opleveren. bv hier kiezen voor straten en dan zeggen dat je in geonames geinteresseerd bent.
                Of kiezen voor gemeentes en dna verderop nwb kiezen.
                Misschien ook het verschil tussen straten en adressen uitleggen en in welke dataset wat zit?</p>

        </div>

        <div class="col-md-6">

            <h2>Naar...</h2>

            {{ form_row(form.hg_dataset) }}
            <p>uitleg nodig?...</p>

            {{ form_row(form.geometry) }}
            <p>Wilt u een geometrie? Het zoeken gaat een stuk sneller, zonder.</p>

            <p class="alert-danger">Hier button maken met bewaar mapping, Testen ergens anders vandaan aansturen.</p>

            <div class="col-md-6">
                {{ form_widget(form.map) }}
                <p>Deze optie standaardiseert de eerste 20 records. Dit is handig om te kijken of alles goed gaat
                    alvorens het hele bestand te verwerken.</p>

            </div>

            <div class="col-md-6">
                {{ form_widget(form.mapall) }}
                <p>Deze optie standaardiseert alle records. Dit proces kan enige tijd duren.</p>

                <p class="alert alert-warning"><strong>Let op:</strong> eventueel eerder opgehaalde data bij dit bestand
                    wordt eerst verwijderd!</p>
            </div>

        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}