{% extends "layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h2>Velden benoemen</h2>

			{% form_theme form 'bootstrap_3_layout.html.twig' %}

			{{ form_start(form) }}

			{{ form_row(form.placename) }}

			{{ form_row(form.identifier) }}

			<div class="col-sm-offset-2 form-actions">
				<input class="btn btn-primary" type="submit" value="verder">
			</div>

				<p>Eventueel kunt u hieronder nog aangeven of uw bestand contextuele informatie biedt die de zoekresultaten verder kunnen filteren</p>

				<fieldset>
					<legend>contextuele informatie</legend>

					{{ form_row(form.province) }}

					{{ form_row(form.country) }}

					{{ form_row(form.lat) }}

					{{ form_row(form.lon) }}

				</fieldset>

			<div class="col-sm-offset-2 form-actions">
				<input class="btn btn-primary" type="submit" value="test">
				<input class="btn btn-success" type="submit" value="standaardiseer">
			</div>

			{{ form_end(form) }}

		</div>

		<div class="col-md-6">

			<h2>Uitleg</h2>

			<p>Blijkbaar is het uploaden van het csv-bestand goed gegaan en kan de gebruiker ons nu gaan vertellen in welk veld de te standaardiseren plaatsnamen staan en in welke velden eventuele context gegeven wordt.</p>

			<ul>
				<li>Kies type waarop je wilt zoeken (place/ municipality)</li>
				<li>Periode (beginjaar + eindjaar)</li>
				<li>Fuzzy of excact zoeekn? Met / zonder wildcard</li>
				<li>Bounding box</li>
			</ul>
		</div>
	</div>

{% endblock %}