{% extends "layout.html.twig" %}

{% block content %}

    <h1>Stap 2. Standaardiseeropties voor dataset "{{ dataset.name }}"</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <h2>Van...</h2>

            <p>Geef hieronder aan welke kolommen van het csv-bestand gebruikt moeten worden voor het
                standaardiseren.</p>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_row(form.placename_column) }}
            <p class="mappingfield">Kies het veld dat de naam bevat die je wilt standaardiseren</p>

            {{ form_row(form.liesin_column) }}
            <p class="mappingfield">Gebruik deze optie alleen als je een veld in je csv hebt waar een 'bredere term' in zit. Bijvoorbeeld de provincie waar de plaatsen uit het vorige veld in liggen</p>


            {{ form_row(form.hg_type) }}
            <p class="mappingfield">
                Kies hier het type waar de toponiemen op slaan (kies hg:Place voor plaatsen, hg:Municipality voor gemeentes, hg:Street voor straten, etc.). <br />
                Mocht de dataset meerdere typen bevatten, dan moet het standaardiseren in verschillende stappen (elk type apart) gedaan worden.
            </p>

        </div>

        <div class="col-md-6">

            <h2>Naar...</h2>

            <p>Geef hieronder aan naar welke dataset je wilt standaardiseren en of je behalve gestandaardiseerde naam, hgid en - indien aanwezig - uri ook de geometrieën terug wilt hebben.</p>

            {{ form_row(form.hg_dataset) }}
            <p class="mappingfield">Kies Geonames of TGN voor plaatsen, Geonames voor huidige- en Gemeentegeschiedenis ook voor historische gemeentes, BAG voor adressen of gebouwen en het Nationaal Wegen Bestand (NWB) voor straten.</p>

            {{ form_row(form.geometry) }}

        </div>

    </div>

    <div class="row" style="margin-top:24px;">
        <div class="col-md-4">
            {{ form_widget(form.save) }}

            <p class="pad alert-warning">Bewaar alleen de instellingen en test of standaardiseer later.</p>
        </div>
        <div class="col-md-4">
            {{ form_widget(form.map) }}

            <p class="pad alert-warning">Deze optie standaardiseert de eerste 20 records. Dit is handig om te kijken of alles goed
            gaat alvorens het hele bestand te verwerken.
            </p>
        </div>
        <div class="col-md-4">
            {{ form_widget(form.mapall) }}


            <p class="pad alert-warning">Deze optie standaardiseert alle records. Dit proces kan enige tijd duren.
            </p>

            <p class="pad alert-danger">
                <strong>Let op:</strong> eventueel eerder opgehaalde data bij dit
            bestand wordt eerst verwijderd!
            </p>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}