{% extends "layout.html.twig" %}

{% block content %}
	<h2>Velden benoemen</h2>
	<div class="row">
		<div class="col-md-6">
			

			{% form_theme form 'bootstrap_3_layout.html.twig' %}

			{{ form_start(form) }}

			{{ form_row(form.placename) }}

			{{ form_row(form.identifier) }}

			
				<p>Eventueel kunt u hieronder nog aangeven of uw bestand contextuele informatie biedt die de zoekresultaten verder kunnen filteren</p>

				<fieldset>
					<legend>contextuele informatie</legend>

					{{ form_row(form.province) }}

					{{ form_row(form.country) }}

					

				</fieldset>

			

			

		</div>

		<div class="col-md-6">

			<label>Plaatsen en / of gemeenten?</label>

			{{ form_row(form.plaatsen) }}

			{{ form_row(form.gemeenten) }}

			<ul>
				<li>Kies type waarop je wilt zoeken (place/ municipality)</li>
				<li>Periode (beginjaar + eindjaar)</li>
				<li>Fuzzy of excact zoeekn? Met / zonder wildcard</li>
				<li>Bounding box</li>
			</ul>

			<div class="col-sm-offset-2 form-actions">
				<input class="btn btn-primary" type="submit" value="test">
				<input class="btn btn-success" type="submit" value="standaardiseer">
			</div>
		</div>

		{{ form_end(form) }}

		
	</div>

{% endblock %}