{% extends "layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h2>Velden benoemen</h2>

			<form action="" method="post">

				<label>Welk veld bevat de te standaardiseren plaatsnaam? (verplicht)</label>
				<select class="form-control" name="originalNameField" required>
					<option value="">selecteer een veld</option>
					{% for key,column in columnNames %}
						<option value="{{ key }}">{{ column }}</option>
					{% endfor %}
				</select>

				<label>Is er een veld met uw kenmerk of id dat in het eindresultaat terug moet komen</label>
				<select class="form-control" name="originalNameField">
					<option value="">selecteer een veld</option>
					{% for key,column in columnNames %}
						<option value="{{ key }}">{{ column }}</option>
					{% endfor %}
				</select>

				<input class="btn btn-primary" type="submit" value="verder">

				<p>Eventueel kunt u hieronder nog aangeven of uw bestand contextuele informatie biedt die de zoekresultaten verder kunnen filteren</p>

				<fieldset>
					<legend>contextuele informatie</legend>

					<label>Provincie</label>
					<select class="form-control" name="originalNameField">
						<option value="">selecteer een veld</option>
						{% for key,column in columnNames %}
							<option value="{{ key }}">{{ column }}</option>
						{% endfor %}
					</select>

					<label>Land</label>
					<select class="form-control" name="originalNameField">
						<option value="">selecteer een veld</option>
						{% for key,column in columnNames %}
							<option value="{{ key }}">{{ column }}</option>
						{% endfor %}
					</select>

					<label>Lattitude / breedtegraad</label>
					<select class="form-control" name="originalNameField">
						<option value="">selecteer een veld</option>
						{% for key,column in columnNames %}
							<option value="{{ key }}">{{ column }}</option>
						{% endfor %}
					</select>

					<label>Longitude / lengtegraad</label>
					<select class="form-control" name="originalNameField">
						<option value="">selecteer een veld</option>
						{% for key,column in columnNames %}
							<option value="{{ key }}">{{ column }}</option>
						{% endfor %}
					</select>

				</fieldset>

			</form>
		</div>
		<div class="col-md-6">

			<h2>Uitleg</h2>

			<p>Blijkbaar is het uploaden van het csv-bestand goed gegaan en kan de gebruiker ons nu gaan vertellen in welk veld de te standaardiseren plaatsnamen staan en in welke velden eventuele context gegeven wordt.</p>

			<p>
			</p>
		</div>
	</div>

{% endblock %}