<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="../../favicon.ico">#}

    <title>{% block title %} {{ app.sitename }}{% endblock %}</title>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Bootstrap  -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- FontAwesome -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


    <link rel="stylesheet" href="/css/pid.css" />

    <style type="text/css">
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="top">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('dataset-upload-form') }}">Upload dataset</a></li>
                <li><a href="{{ path('datasets-all') }}" title="Lijstje met datasets">Mijn datasets</a></li>
                <li><a href="/colofon">Colofon</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('user.list') }}">List users</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hallo, {{ app.user.displayName }}!
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('user') }}"><span class="glyphicon glyphicon-user"></span> Profiel bekijken</a></li>
                        <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Profiel bewerken</a></li>
                        <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Afmelden</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('user.login') }}">Aanmelden</a></li>
                <li><a href="{{ path('user.register') }}">Account maken</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% if app.session.flashbag.has('alert') %}
        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-info">{{ flashMessage }}</div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashbag.has('error') %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

</div>

{% block javascripts %}{% endblock %}

<script>

    function setNumbers(one,more,none,unmappable){
        if(one!=null){
            jQuery('#nr-one').html(one);
        }
        if(more!=null){
            jQuery('#nr-more').html(more);
        }
        if(none!=null){
            jQuery('#nr-none').html(none);
        }
        if(unmappable!=null){
            jQuery('#nr-unmappables').html(unmappable);
        }

    }

    // inject alert
    function alertMessage(msg, type) {
        if (!type) {
            type = 'alert-success';
        }
        $('#top').prepend('<div class="ajax-fb alert ' +  type + ' fade in" role="alert"><span class="msg">'+msg+'</span></div>')
        setTimeout(function() {
            $(".ajax-fb").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 5000);
    }

    /** Wrapper for API calls */
    function askAPI(type, url, data, callback) {
        $('#fb').html('');
        var request = jQuery.ajax({
            type: type,
            url: url,
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (resp, status, jqXHR) {
                if (!callback) {
                    alertMessage(resp.message)
                } else {
                    if (resp.data) {
                        callback(resp.data);
                    } else { // others simply pass on the data
                        callback(resp);
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 400) {
                    var answer =  jqXHR.responseJSON;
                    alertMessage(answer.error, 'alert-danger');
                } else if (jqXHR.status == 404) {
                    alertMessage('Requested page not found. [404]', 'alert-danger');
                } else if (jqXHR.status == 500) {
                    alertMessage('An internal server error happened...', 'alert-danger');
                }
            }

        });

    }

</script>
</body>
</html>
